body {
    margin-top: 50px;
    height: 100vh;
    background-color: rgb(212, 201, 187);
}

section{
    display: flex;
   justify-content: center;
}

.box1 {
    width: 300px;
    height: 300px;
    background-color: rgb(25, 122, 154);
    margin-right: 10%;
    
}

.box2 {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    margin-left: 10%;
    
}
